<button {{on 'click' this.toggleProblem}}>
  Toggle Problem
</button>
<button {{on 'click' this.changeFilter}}>
  Change Filter
</button>

<hr>

{{#if this.isRenderingProblem}}
  <Foo @filter={{this.filter}} {{measure-render}}/>
{{else}}
  <Foo {{measure-render}} />
{{/if}}
